<nav class="nav">
  <ul class="list list--nav">
    <li class="item item--nav"><a href="{{ site.baseurl }}/">Home</a></li>
    <li class="item item--nav"><a href="{{ site.baseurl }}/#featured-projects">Projects</a></li>
    <li class="item item--nav"><a href="{{ site.baseurl }}/lecturelens/">LectureLens</a></li>
    <li class="item item--nav"><a href="{{ site.baseurl }}/sampling-histogram/">Signal Simulator</a></li>
    <li class="item item--nav"><a href="{{ site.baseurl }}/about/">About</a></li>
    <li class="item item--nav"><a href="https://github.com/Atharva-Attarde" target="_blank" rel="noopener">GitHub ↗</a></li>
  </ul>
</nav>
